body{
    margin-top: auto;
    margin-left: auto;
    padding: 10% 15%;
    align-items: center;
    background-color: rgba(31, 2, 34, 0.707);
}
.container {
    max-width: 700px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenido */
    background-color: rgba(49, 2, 54, 0.707);

}

h2{
    margin-top: 0px;
    color: rgb(221, 210, 210);
    text-transform: uppercase;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 1);
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
#minas-totales{
    margin-left: 10px;
    color: #00FFFF;;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#puntos {
    margin-left: 10px;
    font-size: 40px;
    color: #9932CC;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 1);
}

td{
    width: 10px;
    height: 10px;
    padding: 15px 15px;
    border: 2px solid ;
    font-size: 20px;
    /* background-color: rgb(26, 52, 75); */
    justify-content: center;
}

.botones {
    display: flex;
    justify-content: center; /* Alinea los elementos al centro horizontalmente */
}

#bandera-roja {
    margin-right: 10px; /* Añade un margen a la derecha para separar los botones */
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 35px;
    background-color: red;
}

#bandera-azul {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 35px;
    background-color: blue;
}
.tablero{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border: 2px solid; */
    color: aliceblue;
}

