body{
    margin-top: 50px;
    margin-left: auto;
    /* padding: 10% 15%; */
    align-items: center;
    /* background-color: rgba(31, 2, 34, 0.707); */
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(108, 1, 1) 100%);
}

.container {
    max-width: 700px; 
    max-height: 100%;
    margin: 0 auto; 
    /* background-color: rgba(49, 2, 54, 0.707); */
    background: rgb(196,238,174);
    background: rgb(100,138,217);
    background: radial-gradient(circle, rgb(50, 89, 172) 0%, 
    rgb(48, 15, 82) 66%);

}

h1 {
    margin-top: 0px;
    color: rgb(221, 210, 210);
    text-transform: uppercase;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 1);
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
#puntos{
    margin-top: 0%;
    margin-left: 25px;
    font-size: 40px;
    color: #9932CC;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 1);
}

td{
    width: 42px;
    height: 42px;
    /* padding: 15px 15px; */
    border: 2px solid ;
    font-size: 30px;
    justify-content: center;
    background-color: aliceblue;
}
.tablero{
    display: flex;
    justify-content: center;
    margin-top: 0;

}
